  <div data-v-16aeba68="" class="tw-flex tw-justify-center tw-items-center login"><div data-v-16aeba68="" class="tw-flex"><div data-v-16aeba68="" class="
        tw-flex-1 tw-p-10
        left
        tw-flex tw-flex-col tw-justify-evenly tw-hidden
        md:tw-block
      "><p data-v-16aeba68="" class="hi">Hi there, welcome back!</p> <img data-v-16aeba68="" src="img/login-img.e124fba.svg" alt=""> <p data-v-16aeba68="" class="signup tw-cursor-pointer">
        Don't have an account? Click here to sign up
      </p></div> <div data-v-16aeba68="" class="tw-flex-1 tw-px-5 md:tw-px-28 tw-py-14 right tw-justify-evenly"><div data-v-16aeba68="" id="metamask-button" class="metamask tw-flex tw-items-center tw-p-3 tw-cursor-pointer"><img data-v-16aeba68="" src="img/metamask.898e510.svg" alt=""> <p data-v-16aeba68="" class="tw-text-white tw-flex-1 tw-text-center">
          Log in with MetaMask
        </p></div> <p data-v-16aeba68="" class="tw-py-4 tw-text-center or">or</p> <div data-v-16aeba68="" class="tw-mb-9"><input data-v-16aeba68="" type="text" placeholder="Email" class="field tw-mb-8"> <input data-v-16aeba68="" type="password" placeholder="Password" class="field"></div> <button data-v-16aeba68="" class="btn-login tw-mb-7 tw-cursor-pointer">
        Login
      </button> <p data-v-16aeba68="" class="forgot tw-text-center tw-cursor-pointer">Forgot password?</p></div></div> <!----></div>