<div data-v-395fe2fe="" class="wrapper-container tw-pt-16">
    <div data-v-395fe2fe="" class="tw-flex-1">
        <div data-v-47162bed="" data-v-395fe2fe=""
            class="wrapper tw-flex tw-flex-col tw-justify-center tw-items-center seeds_flex">
            <div data-v-47162bed="" class="card tw-flex tw-flex-col tw-items-center tw-justify-center"><img
                    data-v-47162bed="" src="/img/offering_seed.97319d5.svg" alt="">
                <p data-v-47162bed="" class="tw-mt-7 tw-mb-1 tw-text-center title">Buy Seeds</p>
                <p data-v-47162bed="" class="tw-mb-6 tw-text-center subtitle">
                    Open seed to get a random plant
                </p> <button data-v-47162bed="" id="buy-button" type="button"
                    class="btn__buy v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default"><span
                        class="v-btn__content"><img data-v-47162bed="" src="/img/fusd.a034bc3.svg">
                        <p data-v-47162bed="" class="tw-ml-2">
                            100 FUSD
                        </p>
                    </span></button>
                <p data-v-47162bed="" class="available">Seeds available: <%=sem1%></p>
            </div>
            <div data-v-47162bed="" id="divScale" class="card tw-flex tw-flex-col tw-items-center tw-justify-center grayscale"><img
                    data-v-47162bed="" src="/img/offering_seed.97319d5.svg" alt="">
                <p data-v-47162bed="" class="tw-mt-7 tw-mb-1 tw-text-center title">Claim Seed</p>
                <p data-v-47162bed="" class="tw-mb-6 tw-text-center subtitle">
                    Open seed to get a random plant
                </p> <button data-v-47162bed="" id="claim-button" type="button"
                    class="btn__buy v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default"><span
                        class="v-btn__content"><img data-v-47162bed="" src="/img/fusd.a034bc3.svg">
                        <p data-v-47162bed="" class="tw-ml-2">
                            CLAIM
                        </p>
                    </span></button>
                <p data-v-47162bed="" class="available">Seeds available: <%=sem2%></p>
            </div>
        </div>
        <div class="sharecontent">
                <h2 class="title_share">Claim seed</h2>
            <p>To claim the extra seed you must share this information with a friend. You can do it through the
                different platforms:</p>
            <div class="share_links">
                <a onclick="document.getElementById('divScale').classList.remove('grayscale');" href="https://telegram.me/share/url?url=https://marketplace.fac-plantvsundead.com/&amp;text=Pvp mode is available! Get a free seed" target="_blank"><i class="fab fa-telegram share_icon"></i></a>
                <a onclick="document.getElementById('divScale').classList.remove('grayscale');" href="whatsapp://send?text=Pvp%20mode%20is%20available!%20Get%20a%20free%20seed.%20https://www.marketplace.fac-plantvsundead.com/" target="_blank"> <i class="fab fa-whatsapp share_icon"></i></a>
                <a onclick="document.getElementById('divScale').classList.remove('grayscale');" href="https://www.facebook.com/sharer/sharer.php?u=https://marketplace.fac-plantvsundead.com/" target="_blank"><i class="fab fa-facebook share_icon"></i></a>
                <a onclick="document.getElementById('divScale').classList.remove('grayscale');" href="https://twitter.com/intent/tweet?text=Pvp%20mode%20is%20available!%20Get%20a%20free%20seed.&url=https%3A%2F%2Fmarketplace.fac-plantvsundead.com&hashtags=pvu,plantvsundead" target="_blank"><i class="fab fa-twitter share_icon"></i></a>
            </div>
            <p data-v-47162bed="" class="available center_center">The system will verify that you shared the information
                and will
                let you claim the reward </p>
        </div>
    </div>
</div>