<div data-v-0d0ae440="" class="marketplace tw-flex tw-flex-row tw-space-x-4">
  <div data-v-0d0ae440="" class="tw-flex-grow md:tw-p-6 tw-p-0 center">
      <div data-v-ef316dae="" data-v-0d0ae440="">
          <!---->
          <div data-v-ef316dae=""
              class="tw-flex tw-items-center md:tw-mb-5 tw-justify-between tw-flex-wrap tw-z-10 md:tw-static tw-fixed position-fixed md:tw-bg-transparent tw-bg-purple-300">
              <div data-v-ef316dae="" class="md:tw-flex tw-hidden">
                  <ul data-v-ef316dae="" class="tw-flex tw-gap-x-4">
                      <li data-v-ef316dae=""><a data-v-ef316dae="" href="#/marketplace/plant"
                              class="tw-flex tw-mr-5 tw-items-center"><img data-v-ef316dae=""
                                  src="/img/plant-inactive-new.3472926.png" alt=""
                                  class="tw-w-6 tw-h-6">
                              <p data-v-ef316dae="" class="tw-ml-2 text-gray">
                                  Plants
                              </p>
                          </a></li>
                      <li data-v-ef316dae=""><a data-v-ef316dae=""
                              href="#/marketplace/mother-tree"
                              class="tw-flex tw-mr-5 tw-items-center"><img data-v-ef316dae=""
                                  src="/img/mother-tree-inactive-new.9a2844d.png" alt=""
                                  class="tw-w-6 tw-h-6">
                              <p data-v-ef316dae="" class="tw-ml-2 text-gray">
                                  Mother Tree
                              </p>
                          </a></li>
                      <li data-v-ef316dae=""><a data-v-ef316dae="" href="#/marketplace/puzzle"
                              aria-current="page"
                              class="tw-flex tw-mr-5 tw-items-center nuxt-link-exact-active nuxt-link-active border-bottom"><img
                                  data-v-ef316dae=""
                                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIASURBVHgB3ZRNTxNBGMf/UzbSqAmVKKkxaVbCazxAP4H1G2i8gSZN9OKNXrx2P4CHcvXUi+WoH6H4CWpMJHXBVjYqBgLbUAKl3R2eWeiw3V0WFnqBXzKZZ555eWae/8wA1x123gC9xBeoygvb5licnGcaIhAaYGWJqwMcNbfPsvBs+jUr44LEwjoVQPX5FDxFBBR3o0Y77rgWjTHMWLx3AjVVfYlnZNuGOTHPKjgDmaLqJ64xdpzrqFDQL5Nz7EVogJ8lznEFlEGooy/Zb68/hj5htfx6OYG7hr6y7tRDibsYeTiMfiED/N/YlvVB6xApNYl+cJoiG1lRSJTiX2MTUSEFs3S78tUSf+72Bz60z+/1/JPZMQ2XxLaRm3rFCsIOFHl2emwRV2BNN+R1V4IGHMSRGIh4aX/pf7DX3HdKp2OZoQFiQo9zv8FexMINs+nYNoPmCyAEOjEzJFim6xeCr9c3HHskOYzR8UeBAe4/GFpomLsV1mbf3hbT8gShL7mx08T3ymqPb2IqFfhOaKHM+Bxb9vqlyJQ33yRxZM5QYG3cE4W2kOumwYtxckovMkU1Ein1OInB+C3ZeftOvPzmYzrnGl/4+mFrhuqse2PHafwXHoBesEkl4e5kHGXvhLUfxvJq1ch6/a22/6MTyBSRAGKndUSFw6TUae+K6TpuJEdy6sJcXHr02QAAAABJRU5ErkJggg=="
                                  alt="" class="tw-w-6 tw-h-6">
                              <p data-v-ef316dae="" class="tw-ml-2 text-gray text-white">
                                  Craft
                              </p>
                          </a></li>
                  </ul>
              </div>
              <div data-v-ef316dae=""
                  class="md:tw-hidden tw-flex tw-justify-between tw-items-center tw-w-full tw-bg-purple-300 tw-py-4 tw-px-4 tw-border-b tw-border-black">
                  <div data-v-ef316dae=""
                      class="v-input md:tw-hidden tab-select v-input--is-label-active v-input--is-dirty v-input--dense theme--light v-text-field v-text-field--is-booted v-text-field--enclosed v-text-field--outlined v-select">
                      <div class="v-input__control">
                          <div role="button" aria-haspopup="listbox" aria-expanded="false"
                              aria-owns="list-261" class="v-input__slot">
                              <fieldset aria-hidden="true">
                                  <legend style="width: 0px;"><span>​</span></legend>
                              </fieldset>
                              <div class="v-select__slot">
                                  <div class="v-select__selections"><span data-v-ef316dae=""
                                          class="tw-mr-2"><img data-v-ef316dae=""
                                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIASURBVHgB3ZRNTxNBGMf/UzbSqAmVKKkxaVbCazxAP4H1G2i8gSZN9OKNXrx2P4CHcvXUi+WoH6H4CWpMJHXBVjYqBgLbUAKl3R2eWeiw3V0WFnqBXzKZZ555eWae/8wA1x123gC9xBeoygvb5licnGcaIhAaYGWJqwMcNbfPsvBs+jUr44LEwjoVQPX5FDxFBBR3o0Y77rgWjTHMWLx3AjVVfYlnZNuGOTHPKjgDmaLqJ64xdpzrqFDQL5Nz7EVogJ8lznEFlEGooy/Zb68/hj5htfx6OYG7hr6y7tRDibsYeTiMfiED/N/YlvVB6xApNYl+cJoiG1lRSJTiX2MTUSEFs3S78tUSf+72Bz60z+/1/JPZMQ2XxLaRm3rFCsIOFHl2emwRV2BNN+R1V4IGHMSRGIh4aX/pf7DX3HdKp2OZoQFiQo9zv8FexMINs+nYNoPmCyAEOjEzJFim6xeCr9c3HHskOYzR8UeBAe4/GFpomLsV1mbf3hbT8gShL7mx08T3ymqPb2IqFfhOaKHM+Bxb9vqlyJQ33yRxZM5QYG3cE4W2kOumwYtxckovMkU1Ein1OInB+C3ZeftOvPzmYzrnGl/4+mFrhuqse2PHafwXHoBesEkl4e5kHGXvhLUfxvJq1ch6/a22/6MTyBSRAGKndUSFw6TUae+K6TpuJEdy6sJcXHr02QAAAABJRU5ErkJggg=="
                                              class="tw-w-5 tw-h-5"></span> <span
                                          data-v-ef316dae="">Craft</span><input id="input-261"
                                          readonly="readonly" type="text" aria-readonly="false"
                                          autocomplete="off"></div>
                                  <div class="v-input__append-inner">
                                      <div class="v-input__icon v-input__icon--append"><i
                                              aria-hidden="true"
                                              class="v-icon notranslate mdi mdi-menu-down theme--light"></i>
                                      </div>
                                  </div><input type="hidden" value="/marketplace/puzzle">
                              </div>
                              <div class="v-menu">
                                  <!---->
                              </div>
                          </div>
                          <div class="v-text-field__details">
                              <div class="v-messages theme--light">
                                  <div class="v-messages__wrapper"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div data-v-ef316dae="" class="filter-wrapper"><img data-v-ef316dae=""
                          src="/img/filter-bar.6f36fcb.svg"> <span data-v-ef316dae=""
                          class="filter">Fitler</span></div>
              </div>
              <div data-v-ef316dae=""
                  class="tw-flex md:tw-justify-start tw-justify-between md:tw-w-auto tw-w-full md:tw-bg-transparent tw-bg-purple-300 md:tw-p-0 tw-py-3 tw-px-4">
                  <p data-v-ef316dae="" class="tw-text-white tw-mr-6 amount">
                      0 Puzzle
                  </p>
                  <div data-v-ef316dae=""
                      class="v-input tab-select v-input--is-label-active v-input--is-dirty v-input--dense theme--light v-text-field v-text-field--is-booted v-text-field--enclosed v-text-field--outlined v-select">
                      <div class="v-input__control">
                          <div role="button" aria-haspopup="listbox" aria-expanded="false"
                              aria-owns="list-266" class="v-input__slot">
                              <fieldset aria-hidden="true">
                                  <legend style="width: 0px;"><span>​</span></legend>
                              </fieldset>
                              <div class="v-select__slot">
                                  <div class="v-select__selections"><span
                                          data-v-ef316dae="">Lowest Price</span><input
                                          id="input-266" readonly="readonly" type="text"
                                          aria-readonly="false" autocomplete="off"></div>
                                  <div class="v-input__append-inner">
                                      <div class="v-input__icon v-input__icon--append"><i
                                              aria-hidden="true"
                                              class="v-icon notranslate mdi mdi-menu-down theme--light"></i>
                                      </div>
                                  </div><input type="hidden" value="lowestPrice">
                              </div>
                              <div class="v-menu">
                                  <!---->
                              </div>
                          </div>
                          <div class="v-text-field__details">
                              <div class="v-messages theme--light">
                                  <div class="v-messages__wrapper"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!---->
          <div data-v-ef316dae="" class="tw-flex tw-justify-center tw-mt-6">
              <!---->
              <div data-v-ef316dae="" class="tw-mt-36">
                  <div data-v-ac7ba540="" data-v-ef316dae=""
                      class="wrapper tw-flex tw-flex-col tw-justify-center tw-items-center"><img
                          data-v-ac7ba540="" src="/img/no-data.1e36c07.png"></div>
              </div>
          </div>
      </div>
  </div>
  <div data-v-0ae730a1="" data-v-0d0ae440="" class="right sm:tw-rounded-3xl tw-flex-none tw-w-72">
      <div data-v-0ae730a1="" class="btn-back"><span data-v-0ae730a1=""><img data-v-0ae730a1=""
                  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS42ODc2IDE3LjcyOTZDMTUuMjcxIDE4LjA5MDEgMTQuNTk1NiAxOC4wOTAxIDE0LjE3OTEgMTcuNzI5Nkw4LjMxMjQyIDEyLjY1MjdDNy44OTU4NiAxMi4yOTIyIDcuODk1ODYgMTEuNzA3OCA4LjMxMjQyIDExLjM0NzNMMTQuMTc5MSA2LjI3MDM2QzE0LjU5NTYgNS45MDk4OCAxNS4yNzEgNS45MDk4OCAxNS42ODc2IDYuMjcwMzZDMTYuMTA0MSA2LjYzMDg1IDE2LjEwNDEgNy4yMTUzMSAxNS42ODc2IDcuNTc1NzlMMTAuNTc1MiAxMkwxNS42ODc2IDE2LjQyNDJDMTYuMTA0MSAxNi43ODQ3IDE2LjEwNDEgMTcuMzY5MiAxNS42ODc2IDE3LjcyOTZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K"></span>
          <span data-v-0ae730a1="">Back</span></div>
      <div data-v-0ae730a1="" class="tw-flex tw-justify-between tw-items-center">
          <p data-v-0ae730a1="" class="tw-text-white filter">Filter</p>
          <p data-v-0ae730a1="" class="color__blue tw-cursor-pointer clear-filter">
              Clear filter
          </p>
      </div>
      <div data-v-0ae730a1="">
          <div data-v-8b8de91e="" data-v-0ae730a1="" class="tw-flex tw-flex-col">
              <div data-v-4456dab4="" data-v-8b8de91e="">
                  <p data-v-4456dab4="" class="tw-mb-5 tw-mt-5 type__text">Type</p>
                  <div data-v-4456dab4="" class="tw-grid md:tw-gap-2 tw-gap-5 tw-grid-cols-3">
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/dark.d661f0f.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/electric.0da5192.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/fire.c6c0671.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/ice.e1484b7.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/light.b026314.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/para.1836eab.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/void.5cc4954.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/water.a8971f4.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                      <div data-v-4456dab4=""
                          class="item tw-text-center tw-cursor-pointer tw-relative">
                          <div data-v-4456dab4=""><img data-v-4456dab4=""
                                  src="/img/wind.8751797.svg" alt=""
                                  class="tw-w-full tw-h-auto">
                              <!---->
                          </div>
                      </div>
                  </div>
              </div>
              <!---->
              <!---->
          </div>
      </div>
      <!---->
  </div>
  <!---->
</div>
</div>